body {
  margin: 0;
  font-family: Netflix;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}


.overflowH{
  overflow: auto;
}

.overflowH::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: Netflix;
  src: url('./fonts/NetflixSans-Regular.otf');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
